// bower:scss
@import "bower_components/sass-flex-mixin/_flex.scss";
@import "bower_components/flexboxgrid-sass/flexboxgrid.scss";
// endbower

@import "../sass/mixins";
@import "https://cdn.klever.space/licons/v2.0/licons.min.css";
@import "../sass/webfonts";
@import "../sass/variables";
@import "../sass/colors";
@import "../sass/hover";

.browserupgrade { margin: 0.2em 0; background: $gray; color: black; padding: 0.2em 0; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    //overflow-y: hidden;
    background: $yellow;
    font-family: 'Bodoni Std', serif;
    font-size: 22px;
    line-height: 3rem;
    color: $gray;
    @include transition(background-color $transition-time linear);
}

h1 {
    font-family: 'Univers LT Std', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .25rem;
    color: $yellow;
    @include transition(color $transition-time linear);
}

h6 {
    font-family: 'Univers LT Std', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    text-align: left;
    margin-bottom: 1.5rem;
}

nav {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    ul {
        list-style: none;
        text-align: left;

        li {
            display: block;
            margin: 0;
            text-indent: 0;

            &:before {
                content: "//";
                margin: 0 .5rem;
                color: $gray;
            }
        }
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    @include transition(color $transition-time linear);
}

#icons {
    min-height: 6rem;
    background: transparent url("../images/icon.svg");
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 3rem;
    text-align: left;
    margin-top: 1rem;

    #icon {
        width: 6rem;
        height: 6rem;
        display: inline-block;
        background-color: white;
        font-size: 4rem;
        line-height: 6rem;
        vertical-align: middle;
        margin: 0;
        color: $yellow;
        @include opacity(0);
        @include transition(all $transition-time linear);
    }
}

.content {
    width: 100vw;
    height: auto;
    background-color: white;
    margin: 4rem 0 0;
}

@media screen and (min-width: $min-sm) {}

@media screen and (min-width: $min-md) {

    .content {
        width: 95%;
        height: 100vh;
        margin: 0 0 0 5%;

        .middle-xs {
            height: 100vh;
        }
    }

    body {
        overflow-y: hidden;
    }

    nav {
        position: absolute;
        bottom: 0;
        padding-top: 0;

        ul {

            li {
                display: inline-block;

                &:first-child:before {
                    display: none;
                    visibility: hidden;
                }

                &:before {
                    margin: 0 1rem;
                }
            }
        }
    }

    #icons {
        background-position: center;
        background-size: 4rem;
        text-align: center;
    }
}

@media screen and (min-width: $min-lg) {}
