
$links:
        graduation-cap,
        map-marker,
        rocket,
        envelope,
        linkedin,
        behance,
        dribbble,
        instagram,
        twitter;

@each $link in $links {

    .hover-#{$link} {
        background-color: $gray;
        @include transition(background-color $transition-time linear);

        #icons {
            //background: none;
            //@include transition(background .5s linear);

            #icon {
                @include opacity(1);
                @include transition(all $transition-time linear);
            }
        }

        h1 {
            color: $gray;
            @include transition(color $transition-time linear);
        }

        a {
            color: $gray;
            @include transition(color $transition-time linear);

            &##{$link} {
                color: black;
            }
        }
    }
}
